**/Builds
# Keep solution files for github unittests
!**/Builds/VisualStudio2022/AudiogramApp.sln
!**/Builds/VisualStudio2022/AudiogramApp.vcxproj
!**/Builds/VisualStudio2022/AudiogramApp.vcxproj.filters
*.wav
HRTF/HRIRs_pyfar